<app-annulation-workflow></app-annulation-workflow>
<div class="header-flou font-violet">
  <img src="assets/logo-header.svg"/>
</div>
<div class="font-blanc">
  <br><br>
  <div class="rendu-text">
    Quel style de dessin veux-tu ?
  </div>
  <br><br>

  <!--
    Rendu 1 = Lite
    Rendu 2 = Squiggle (long)
    Rendu 3 = TSP (moyen)
    Rendu 4 = Hilbert (moyen-long)
    Rendu 5 = MST (moyen-long)
    Rendu 6 = Skip (moyen-long)
  -->
  <!-- Lite -->
  <swiper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)" fxFlex="auto">
    <div class="swiper-slide">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="centrer">
          <img src="../../../assets/rendu_lite.svg"/>
        </div>
        <br><br>
        <div class="rendu-text">
          Style 1 : Esquisse
        </div>
        <div class="rendu-text-description">
          ~ 4 min d'impression
        </div>
      </div>
    </div>
    <!-- TSP -->
    <div class="swiper-slide">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="centrer">
          <img src="../../../assets/rendu_tsp.svg"/>
        </div>
        <br><br>
        <div class="rendu-text">
          Style 2 : Tracé (tsp)
        </div>
        <div class="rendu-text-description">
          ~ 15 min d'impression
        </div>
      </div>
    </div>
    <!-- MST -->
    <div class="swiper-slide">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="centrer">
          <img src="assets/rendu_mst.svg"/>
        </div>
        <br><br>
        <div class="rendu-text">
          Style 3 : Tracé précis (mst)
        </div>
        <div class="rendu-text-description">
          ~ 15 min d'impression
        </div>
      </div>
    </div>
    <!-- Skip -->
    <div class="swiper-slide">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="centrer">
          <img src="assets/rendu_skip.svg"/>
        </div>
        <br><br>
        <div class="rendu-text">
          Style 4 : Tracé précis (skip)
        </div>
        <div class="rendu-text-description">
          ~ 15 min d'impression
        </div>
      </div>
    </div>
    <!-- Squiggle -->
    <div class="swiper-slide">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="centrer">
          <img src="../../../assets/rendu_squiggledraw.svg"/>
        </div>
        <br><br>
        <div class="rendu-text">
          Style 5 : Précision
        </div>
        <div class="rendu-text-description">
          ~ 20 min d'impression
        </div>
      </div>
    </div>
    <!-- Hilbert -->
    <div class="swiper-slide">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div class="centrer">
          <img src="assets/rendu_hilbert.svg"/>
        </div>
        <br><br>
        <div class="rendu-text">
          Style 6 : Grande précision (hilbert)
        </div>
        <div class="rendu-text-description">
          ~ 25 min d'impression
        </div>
      </div>
    </div>
  </swiper>
  <br><br>
  <br><br>
  <br><br>

  <div class="footer">
    <button class="bouton-noir" (click)="onChoisir()" [@slideInDownOnEnter] [@slideOutDownOnLeave]>Choisir</button>
  </div>
</div>
