<div class="header-flou font-violet">
  <img src="../../../assets/logo-header.svg" />
</div>
<div class="font-blanc" align="center">
  <br>
  <div class="titre">
    Terminé !
  </div>
  <br>
  <img src="../../../assets/impression_1.svg" /> 
  <br>
  <br>
  <img src="../../../assets/impression_2.svg" />
  <br>
  <br>
  <br>
  <div class="impression-text-description">
    Une fois l'impression terminée, un responsable vous donnera votre dessin.
  </div>
  <br>
  <br>
  <br>
  <br>

  <div>
    <button class="bouton-noir" (click)="onCompris()">Compris</button>
  </div>

</div>
