<mat-toolbar color="primary" class="header">
  <div>3/4 : Choix du pseudo</div>
</mat-toolbar>
<br>
<form [formGroup]="form" align="center">
  <h3>Veuillez saisir votre pseudo : </h3>
  <mat-form-field>
    <input matInput formControlName="pseudoCtrl" placeholder="Pseudo" class="input" value={{pseudo}}
           required>
  </mat-form-field>
  <div class="col-12 form-inline">
    <div class="simple-keyboard"></div>
  </div>
  
  <div>
    <br>
    <button mat-button (click)="validerPseudo()">Valider</button>
  </div>
</form>
