@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~simple-keyboard/build/css/index.css";
@import "assets/scss/fonts.scss";

body {
  width: 600px;
  height: 1024px;
}

// Fonts

.font-violet {
  background: transparent linear-gradient(330deg, rgba(102, 120, 255, 1) 0%, rgba(214, 0, 255, 1) 100%) 0% 0% no-repeat
    padding-box;
  width: 100%;
  height: 100%;
}

.font-violet-accueil {
  top: 520px;
  width: 600px;
  height: 480px;
  background: transparent linear-gradient(180deg, #1B004200 0%, #1B0042AB 100%) 0% 0% no-repeat padding-box;
}

.font-violet-instructions {
  position: absolute;
  width: 600px;
  height: 100%;
  background: transparent linear-gradient(282deg, #6678FF 0%, #D600FF 100%) 0% 0% no-repeat padding-box;
}

.font-blanc {
  background-color: white;
  width: 100%;
  height: 100%;
}

// Boutons

.bouton-blanc {
  width: 347px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 18px;
  text-align: center;
  font: normal normal bold 40px/48px Metropolis;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  transform-style: preserve-3d;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 357px;
    height: 80px;
    background: #00f7f7 0% 0% no-repeat padding-box;
    border-radius: 18px 0px 18px 18px;
    transform: translateZ(-1px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 357px;
    height: 80px;
    background: #f700f7 0% 0% no-repeat padding-box;
    border-radius: 18px 18px 18px 0px;
    transform: translateZ(-1px);
  }
}

.bouton-noir {
  width: 347px;
  height: 80px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 18px;
  text-align: center;
  font: normal normal bold 40px/48px Metropolis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  transform-style: preserve-3d;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 357px;
    height: 80px;
    background: #00f7f7 0% 0% no-repeat padding-box;
    border-radius: 18px 0px 18px 18px;
    transform: translateZ(-1px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 357px;
    height: 80px;
    background: #f700f7 0% 0% no-repeat padding-box;
    border-radius: 18px 18px 18px 0px;
    transform: translateZ(-1px);
  }
}

.bouton-noir-decompte {
  width: 80px;
  height: 80px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 18px;
  text-align: center;
  font: normal normal bold 40px/48px Metropolis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  transform-style: preserve-3d;
  border: none;

  span {
    line-height: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 90px;
    height: 80px;
    background: #00f7f7 0% 0% no-repeat padding-box;
    border-radius: 18px 0px 18px 18px;
    transform: translateZ(-1px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 90px;
    height: 80px;
    background: #f700f7 0% 0% no-repeat padding-box;
    border-radius: 18px 18px 18px 0px;
    transform: translateZ(-1px);
  }
}

.bouton-gris {
  width: 347px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 18px;
  text-align: center;
  font: normal normal bold 40px/48px Metropolis;
  letter-spacing: 0px;
  color: black;
  border: 4px solid #c6c6c6;
}

// Cadre photo

.cadre-photo {
  width: 350px;
  height: 350px;
  border-radius: 18px;
  transform-style: preserve-3d;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 360px;
    height: 350px;
    background: #00f7f7 0% 0% no-repeat padding-box;
    border-radius: 18px 0px 18px 18px;
    transform: translateZ(-1px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 360px;
    height: 350px;
    background: #f700f7 0% 0% no-repeat padding-box;
    border-radius: 18px 18px 18px 0px;
    transform: translateZ(-1px);
  }
}

// input
.pseudo-blur {
  width: 430px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: center;
  transform-style: preserve-3d;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 430px;
    height: 80px;
    background: transparent linear-gradient(281deg, #6678ff 0%, #d600ff 100%) 0% 0% no-repeat padding-box;
    opacity: 0.41;
    transform: translateZ(-1px);
    filter: blur(20px);
  }
}

.pseudo-input {
  width: 430px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  border: none;
  text-align: center;
  font: normal normal bold 40px/48px Metropolis;
  letter-spacing: 0px;
  opacity: 1;
  color: #00b8ff;

  &:focus {
    outline: none;
  }
}

.titre {
  font: normal normal bold 40px/48px Metropolis;
  letter-spacing: 0px;
  color: #000000;
  margin: 0 30px 0 30px;
  opacity: 1;
}

.wow {
  font: normal normal bold 60px/68px Metropolis;
  letter-spacing: 0px;
  margin: 0 30px 0 30px;
}

.rgpd-text {
  text-align: center;
  font: normal normal 500 20px/26px Kufam;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 0 30px 0 30px;
  opacity: 1;
}

.instructions-text {
  font: normal normal 500 25px/33px Kufam;
  letter-spacing: 0px;
  margin: 0 30px 0 30px;
  color: #b4b4b4;
  opacity: 1;
}

.rendu-text {
  text-align: center;
  font: normal normal bold 30px/36px Metropolis;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.rendu-text-description {
  text-align: center;
  font: normal normal bold 30px/36px Metropolis;
  letter-spacing: 0px;
  color: #c6c6c6;
  opacity: 1;
}

.impression-text-description {
  font: normal normal bold 30px/36px Metropolis;
  letter-spacing: 0px;
  margin: 0 30px 0 30px;
  color: #c6c6c6;
  opacity: 1;
}

svg {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.icon-placeholder {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer !important;
}

.header-flou {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  vertical-align: middle;
  transform-style: preserve-3d;

  &::before {
    content: "";
    top: 5px;
    left: 0px;
    width: 100%;
    height: 100px;
    position: absolute;
    background: transparent linear-gradient(281deg, #6678ff 0%, #d600ff 100%) 0% 0% no-repeat padding-box;
    opacity: 0.65;
    filter: blur(20px);
    transform: translateZ(-1px);
  }
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  vertical-align: middle;
}

.photo-capture {
  width: 350px;
  height: 350px;
  border-radius: 18px;
}

.video {
  width: 100%;
  height: 100%;
}

.centrer {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 80px;
  left: 120px;
}

.footer-decompte {
  position: fixed;
  bottom: 80px;
  left: 250px;
}
