<div class="header-flou font-violet">
  <img src="assets/logo-header.svg" />
</div>
<div class="font-blanc">
  <br>
  <br>
  <div class="titre centrer"  [@bounceInDownOnEnter]>
    Terminé !
  </div>
  <br>
  <div class="centrer">
    <img src="assets/impression_1.svg" [@bounceInDownOnEnter]/>
  </div>
  <br>
  <br>
  <div class="centrer">
    <img src="assets/impression_2.svg" [@bounceInDownOnEnter] />
  </div>
  <br>
  <br>
  <br>
  <div class="impression-text-description"  [@bounceInDownOnEnter]>
    Une fois l'impression terminée, un responsable vous donnera votre dessin.
  </div>
  <div class="footer">
    <button class="bouton-noir" (click)="onCompris()">Compris</button>
  </div>

</div>
