<div class="header-flou font-violet">
  <img src="../../../assets/logo-header.svg" />
</div>
<div class="font-blanc">
  <br>
  <br>
  <br>
  <div class="centrer">
    <img src="../../../assets/instructions_illustration.svg" />
  </div>
  <br>
  <br>
  <div class="titre">
    Photo-time !
  </div>
  <br>
  <br>
  <p class="instructions-text">Faîtes votre plus beau sourire, car vous allez être pris en photo ! Vous avez deux essais pour faire la photo parfaite. Elle sera ensuite directement envoyée en impression.</p>
  <br>
  <br>
  <br>
  <div class="centrer">
    <button class="bouton-noir" (click)="onValidation()">Je suis prêt(e) !</button>
  </div>
</div>
