<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLink="/visualisation" (click)="sidenav.toggle()">
        <mat-icon>dashboard</mat-icon>
        Dessin
      </a>
      <a mat-list-item routerLink="/parametrage" (click)="sidenav.toggle()">
        <mat-icon>settings</mat-icon>
        Paramétrage
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <div>
      <mat-toolbar color="primary" class="header">
        <div>DEVFEST 2020</div>
        <span class="nav-tool-items">
        <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
      </span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
