<canvas *ngIf="!afficherSmile" id="video-canvas" #streaming class="video" [ngClass]="{'fond-decompte' : afficherFlash}"></canvas>
<div *ngIf="!afficherSmile && afficherDecompte && decompte < 3" class="footer-decompte" [@decompteAnim] (@decompteAnim.done)="onDecompteEnterDoneEvent($event)">
    <div class="bouton-noir-decompte">
        <span *ngIf="!afficherSmile">{{decompte}}</span>
    </div>
</div>
<div *ngIf="!afficherSmile && afficherDecompte && decompte === 3" class="footer-decompte" [@decompteAnim3] (@decompteAnim3.done)="onDecompteEnterDoneEvent($event)">
    <div class="bouton-noir-decompte">
        <span>{{decompte}}</span>
    </div>
</div>
<span *ngIf="afficherSmile"><i class="far fa-smile-beam"></i></span>