<div class="header font-violet">
  <img src="../../../assets/logo-header.svg" />
</div>

<p>Quel style de dessin veux-tu ?</p>
<ul>
  <li>
    <img src="../../../assets/rendu_1.svg" />
    <p>Style 1 : Esquisse</p>
    <p>~ 2 min d'impression</p>
  </li>
  <li>
    <img src="../../../assets/rendu_2.svg" />
    <p>Style 2 : Tracé</p>
    <p>~ 10 min d'impression</p>
  </li>
  <li>
    <img src="../../../assets/rendu_3.svg" />
    <p>Style 3 : Précision</p>
    <p>~ 20 min d'impression</p>
  </li>
</ul>

<div class="row justify-content-center align-middle">
  <button class="bouton-noir" (click)="onChoisir()">Choisir</button>
</div>
