<div class="header font-violet">
  <img src="../../../assets/logo-header.svg" />
</div>
<div class="font-blanc">
  <div class="rendu-text">
    Quel style de dessin veux-tu ?
  </div>
  <ul>
    <li>
      <img src="../../../assets/rendu_1.svg" />
      <div class="rendu-text">
        Style 1 : Esquisse
      </div>
      <div class="rendu-text-description">
        ~ 2 min d'impression
      </div>
    </li>
    <li>
      <img src="../../../assets/rendu_2.svg" />
      <div class="rendu-text">
        Style 2 : Tracé
      </div>
      <div class="rendu-text-description">
        ~ 10 min d'impression
      </div>
    </li>
    <li>
      <img src="../../../assets/rendu_3.svg" />
      <div class="rendu-text">
        Style 3 : Précision
      </div>
      <div class="rendu-text-description">
        ~ 20 min d'impression
      </div>
    </li>
  </ul>

  <div class="row justify-content-center align-middle">
    <button class="bouton-noir" (click)="onChoisir()">Choisir</button>
  </div>
</div>
