<div class="header-flou font-violet">
  <img src="assets/logo-header.svg" alt="logo header" />
</div>
<div class="font-blanc">
  <div class="row">
    <div class="col-6">
      <img src="assets/FR_illustration.svg"/>
    </div>
    <div class="col-6">
      <p>
        Qui êtes-vous ?
        </p>
        <p>
          Nous aurions besoin de connaître votre prénom
        </p>
        <div class="pseudo-blur">
          <input formControlName="mailCtrl" class="pseudo-input" required>
        </div>
        <div class="pseudo-blur">
          <input formControlName="mailCtrl" class="pseudo-input" required>
        </div>      
    </div>
  </div>
  
  <div class="footer">
    <button class="bouton-noir" (click)="onContinuer()" [@slideInUpOnEnter]>Continuer</button>
  </div>
</div>
