<mat-horizontal-stepper linear="true" #stepper>
  <mat-step>
      <ng-template matStepLabel>Prise de la photo</ng-template>
      <app-prise-photo [stepper]="stepper" [image]="image"></app-prise-photo>
  </mat-step>
  <mat-step #stepMosaic>
    <ng-template matStepLabel>Selection image dans la mosaique</ng-template>
    <app-selection-photo-mosaic [image]="image" [stepper]="stepper" [step]="stepMosaic"></app-selection-photo-mosaic>
  </mat-step>
  <mat-step [stepControl]="stepPseudo">
    <ng-template matStepLabel>Entrez votre pseudo</ng-template>
    <app-selection-pseudo [image]="image" [stepper]="stepper"></app-selection-pseudo>
  </mat-step>
  <mat-step #impressionPhotos>
    <ng-template matStepLabel>Impression de la photo</ng-template>
    <app-impression-photo [step]="impressionPhotos" [stepper]="stepper" [image]="image"></app-impression-photo>
  </mat-step>
</mat-horizontal-stepper>

