<div class="font-violet">
  <div class="centrer">
    <img src="assets/logo-header.svg" alt="logo" />
  </div>
  <div class="font-violet-accueil" [@slideInUpOnEnter]>
  <div class="centrer">
    <img src="assets/rgpd_photo.svg" [@slideInRightOnEnter]/>
  </div>
  <p class="rgpd-text" [@slideInRightOnEnter]>
    Pour votre participation, votre nom, prénom et e-mail seront demandés. Ces informations seront conservées pendant la durée du Devfest pour la participation au jeu. 
    Si vous le souhaitez, elles pourront être conservées pour recevoir nos offres d'emploi. Vous pouvez exercer vos droits en nous contactant sur notre site internet www.sigma.fr
  </p>
  <div class="footer">
    <button class="bouton-blanc" (click)="onCommencer()" [@slideInUpOnEnter]>J'ai compris</button>
  </div>
</div>
