<div class="header-flou font-violet">
  <img src="assets/logo-header.svg" />
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<form [formGroup]="form" align="center">
  <div class="titre">
    Un pseudo ?
  </div>
  <br>
  <br>
  <div class="rendu-text-description">
    Il sera inscrit sur votre dessin
  </div>
  <br>
  <div class="centrer">
    <div class="pseudo-blur">
      <input formControlName="pseudoCtrl" class="pseudo-input" required>
    </div>
  </div>
  <br>
  <div class="simple-keyboard keyboard-blur"></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div *ngIf="form.valid && false" class="footer">
    <button class="bouton-noir" [disabled]="!form.touched || form.dirty || form.invalid" (click)="validerPseudo()">Valider</button>
  </div>
</form>
