<div class="header-flou font-violet">
  <img src="assets/logo-header.svg" />
</div>
<div class="font-blanc">
  <br>
  <br>
  <div class="centrer">
    <div class="cadre-photo">
      <img class='photo-capture' id='capture-img' [src]='imageUpload'/>
    </div>
  </div>
  <br>
  <br>
  <div class="row titre justify-content-center align-middle">
    On part sur celle-ci ?
  </div>
  <br>
  <br>

  <div class="footer-validation justify-content-center align-middle">
    <div class="row ">
      <button class="bouton-noir" (click)="onValidation()">Let's gooo</button>
    </div>
    <div class="row mt-4">
      <button class="bouton-gris" (click)="onRetry()">Je réessaye</button>
    </div>
    <br>
    <div class="row centrer instructions-text">
      1 essai restant
    </div>
  </div>
</div>
