<div class="font-violet">
  <div class="header">
    <img src="../../../assets/logo-header.svg" />
  </div>
  <br>
  <br>
  <br>
  <div class="centrer">
    <img src="../../../assets/rgpd_photo.svg" [@textAnimation]/>
  </div>
  <br>
  <br>
  <br>
  <p class="rgpd-text" [@textAnimation]>
    Nous stockerons la photo que vous choisirez le temps de son impression. Elle sera ensuite supprimée, ainsi que la
    photo "dessinée" par notre algorithme.
  </p>

  <div class="footer">
    <button class="bouton-blanc" (click)="onValidation()">J'ai compris</button>
  </div>
</div>
