<div class="header-flou font-violet">
  <img src="assets/logo-header.svg" alt="logo header" />
</div>
<div class="font-blanc">
  <p>
   Et votre mail?
  </p>
  <p>
    Nous annonceront le prénom du gagnant sur le stand, et nous le préviendront également par mail.
  </p>
  <div class="pseudo-blur">
    <input formControlName="mailCtrl" class="pseudo-input" required>
  </div>
  <div class="footer">
    <button class="bouton-noir" (click)="onContinuer()" [@slideInUpOnEnter]>Continuer</button>
  </div>
</div>
