<div class="header font-violet">
  <img src="../../../assets/logo-header.svg" />
</div>
<div class="font-blanc">
  <br>
  <br>
  <div class="row justify-content-center align-middle">
    <div class="cadre-photo">
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row titre justify-content-center  align-middle">
    On part sur celle-ci ?
  </div>
  <br>
  <br>
  <div class="row justify-content-center align-middle">
    <button class="bouton-noir" (click)="onValidation()">Let's gooo</button>
  </div>
  <br>
  <div class="row justify-content-center align-middle">
    <button class="bouton-gris" (click)="onValidation()">Je réessaye</button>
  </div>
  <br>
  <br>
  <div class="row justify-content-center align-middle instructions-text">
    1 essai restant
  </div>
</div>
