<div class="header-flou font-violet">
  <img src="assets/logo-header.svg" alt="logo header" />
</div>
<div class="font-blanc">
  <div class="row">
    <div class="col-6">
      <img src="assets/FR_illustration.svg"/>
    </div>
    <div class="col-6">
      <p>
        Tentez votre chance !
        </p>
        <p>
          Sigma vous donne la possibilité de gagner un dessin grand format imprimé par le plus gros robot. 
          Si vous avez de la chance, vous gagnerez aussi un petit robot à dessiner ! Tentez de la gagner maintenant !
        </p>          
    </div>
  </div>
  <div class="footer">
    <button class="bouton-noir" (click)="onContinuer()" [@slideInUpOnEnter]>Continuer</button>
  </div>
</div>